# Python
venv/
__pycache__/
*.pyc

# Datasets
dataset/
dataset_full/
dataset_aug/
data_collection/

# Training outputs
training/

# Node modules
frontend/node_modules/

# Build outputs
frontend/dist/
frontend/.vite/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDE
.vscode/
